<div class="row">
    <div>
        <img src="./assets/img/rick.jpg" alt="Rick & Morty" class="img-fluid" routerLink="/info">
        <br>
        <img src="./assets/img/jose-rick.png" alt="Rick & Morty" class="img-fluid" routerLink="/info">
        <img src="./assets/img/mickey.png" alt="Rick & Morty" class="img-fluid" routerLink="/disney">
        <img src="./assets/img/mickey.png" alt="Rick & Morty" class="img-fluid" routerLink="/valorant">
        <img src="./assets/img/mickey.png" alt="disney2" class="img-fluid" routerLink="/disney2">
    </div>
</div>